@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body,
main {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  color: white;
  margin: auto;
}

body {
  width: 1400px;
  height: 900px;
}

.title {
  cursor: default;
  z-index: 2;
  user-select: none;
  position: absolute;
  font-weight: 100;
  z-index: 2;
  top: 20px;
  font-size: 30px;
}

p {
  z-index: 2;
}

.action-buttons-container {
  position: absolute;
  bottom: 35px;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-self: end;
}

.action-button {
  fill: #474747;
  width: 40px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.action-button#play {
  fill: #818181;
}

.action-button:hover, .action-button#play:hover {
  fill: #a3a3a3;
  transform: scale(1.1);
}

.action-button:active, .action-button#play:active {
  fill: #9b9b9b;
  transform: scale(0.95);
}

button {
  border: none;
  background: none;
}

button#pause {
  display: none;
}

button.marker.action-button {
  width: 34px;
}

button.action-button.pp {
  width: 55px;
}

button.action-button:not(.pp) {
  transition-duration: 0.3s;
}

div.legend {
  position: absolute;
  display: flex;
  align-items: center;
}

div.legend ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-start;
  column-gap: 30px;
  height: 120px;
  border: solid 0px rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  width: 225px;
  margin: 0px 1070px 600px 0px;
}

.legend-item {
  cursor: pointer;
}

.legend ul li {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: start;
  gap: 12px;
  overflow-wrap: normal;
  width: 100px;
}

.name {
  user-select: none;
}


.legend ul li:hover {
  font-weight: bold;
}

.legend ul li:hover :first-child {
  transform: scale(1.4);
}

div.square {
  width: 10px;
  height: 10px;
  background-color: black;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.legend-item:not(.active) {
  opacity: 50%;
}

.legend-item:not(.active) .name {
  font-weight: 400;
}

.legend-item .name {
  font-weight: bold;
}

.legend ul {
  list-style: none;
  line-height: 26px;
}

#udssr :first-child {
  background-color: #ef3e36;
}

#usa :first-child {
  background-color: #6290C8;
}

#china :first-child {
  background-color: #f28482;
}

#russia :first-child {
  background-color: #ef3e36;
}

#brazil :first-child {
  background-color: #009739;
}

#australia :first-child {
  background-color: #86836d;
}

#europe :first-child {
  background-color: #f9e900;
}
#asia :first-child {
  background-color: #b3b3f1;
}

button#blank, button#blank * {
  height: 0;
  cursor: default;
}

#auto-scale.active {
  animation: rainbow .7s linear 1;
  fill: rgb(183, 0, 255);
  /* animation-iteration-count: infinite; */
}

@keyframes rainbow{
  0%,100%{
    fill: rgb(255,0,0);
  }
  8%{
    fill: rgb(255,127,0);
  }
  16%{
    fill: rgb(255,255,0);
  }
  25%{
    fill: rgb(127,255,0);
  }
  33%{
    fill: rgb(0,255,0);
  }
  41%{
    fill: rgb(0,255,127);
  }
  50%{
    fill: rgb(0,255,255);
  }
  58%{
    fill: rgb(0,127,255);
  }
  66%{
    fill: rgb(0,0,255);
  }
  75%{
    fill: rgb(127,0,255);
  }
  83%{
    fill: rgb(255,0,255);
  }
  91%{
    fill: rgb(255,0,127);
  }
}